In [1]:
#SparkSession is entry point to programming with dataset and dataframe API.
#enableHiveSupport() enables hive suport including connectivity to a persistent hive metastore,
    #support for hive serDes and hive user defined functions.
#getOrCreate() clear by name.
#from pyspark.conf import SparkConf
from pyspark.sql import SparkSession
spark=SparkSession.builder.enableHiveSupport().getOrCreate()
print(spark)

#Once SparkSession is created, we can config spark's run time config properties like
#spark.conf.set("spark.executor.memory", "2g")

<pyspark.sql.session.SparkSession object at 0x000001D0D796FFD0>
+-----+
|hello|
+-----+
|spark|
+-----+

In [9]:
#Creating dataframe from list
lstOne=[('Ankit',100),('Rohan',200)]
spark.createDataFrame(lstOne).show()

from pyspark.sql import Row
PersonSchema = Row('name','marks')
rddTwo = rddOne.map(lambda x: PersonSchema(*x))
spark.createDataFrame(rddTwo).show()
#map can not be used with python list as map is spark functionality works with rdds.

#Creating dataframe from a list of dictionary, we nee to have columnName:columnValue everytime
#So, inferring schema from dictionay is deprecated, we should use pyspark.sql.row instead
lstTwo=[{'name':'Ankit', 'marks':100},
        {'name':'Ankit', 'marks':100}]
spark.createDataFrame(lstTwo).show()

#When schema is none, it will try to infer the schema (column names and data types) from data(can be Row, dict)

+-----+---+
|   _1| _2|
+-----+---+
|Ankit|100|
|Rohan|200|
+-----+---+

+-----+-----+
| name|marks|
+-----+-----+
|Ankit|  100|
|Rohan|  200|
+-----+-----+

C:\opts\spark\spark-2.2.1-bin-hadoop2.7\python\pyspark\sql\session.py:336: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

+-----+-----+
|marks| name|
+-----+-----+
|  100|Ankit|
|  100|Ankit|
+-----+-----+

In [10]:
#Now with schema - list of column names
spark.createDataFrame(lstOne,['name','marks']).show()

#Creating list to rdd then rdd to dataframe.
rddOne = sc.parallelize(lstOne)
spark.createDataFrame(rddOne, ['name','marks']).show()

#when schema is a list of column names, the data type of each column will be inferred from data.

+-----+-----+
| name|marks|
+-----+-----+
|Ankit|  100|
|Rohan|  200|
+-----+-----+

+-----+-----+
| name|marks|
+-----+-----+
|Ankit|  100|
|Rohan|  200|
+-----+-----+

In [31]:
print(sc.appName)

PySparkShell

In [13]:
from pyspark.sql.types import *
schema = StructType([
    StructField("name",StringType()),
    StructField("marks",IntegerType(), False)
])
#Third parameter False means the field is not nullable. By default is true.
spark.createDataFrame(rddOne, schema).show()
#When schema is pyspark.sql.types.Datatype or a data type string, it must match jthe real data, 
#or an exception will be thrown at the run time.

+-----+-----+
| name|marks|
+-----+-----+
|Ankit|  100|
|Rohan|  200|
+-----+-----+

In [15]:
spark.sql('SET hive.execution.engine = spark')
df=spark.sql('''select 'spark' as hello ''')
df.show()

spark.sql("show databases").show()
spark.sql("create database if not exists amlmiptrn")
spark.sql("use amlmiptrn")
#query to create table
#spark.sql("create table emp(empId int, empName string, empSalary int, depId int) row format delimited fields terminated by ','")

df = spark.sql("select * from emp")
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

+------------+
|databaseName|
+------------+
|   amlmiptrn|
|     default|
+------------+

+-----+--------+---------+-----+
|empId| empName|empSalary|depId|
+-----+--------+---------+-----+
|    1|   ankit|    10000|    4|
|    2|  rajeev|    34000|    4|
|    3|   kamal|    50000|    4|
|    4|   vijay|   100000|    4|
|    5| pradeep|    78999|    5|
|    6|    aman|     8867|    5|
|    7|  sanjay|    87826|    5|
|    8|    raju|    74362|    5|
|    9|   pawan|    78498|    5|
|   10|  mayank|    78888|    2|
|   11|shwetank|    54222|    2|
|   12|himanshu|    89777|    2|
|   13|  rajesh|    63455|    3|
|   14|  suresh|    88787|    3|
|   15|  vishal|    67676|    3|
|   16|  apporv|    23456|    3|
|   17|mahendra|    63423|    1|
|   18| bhajnik|    87876|    1|
|   19|  Shaily|    23534|    1|
|   20|   baban|    76542|    1|
+-----+--------+---------+-----+
only showing top 20 rows

In [17]:
spark.range(1,8,2).show()

+---+
| id|
+---+
|  1|
|  3|
|  5|
|  7|
+---+